{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Ir Atras</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #4caf50; font-style: bold; font-size: 3rem;">ESTRIN</div>
    <div class="align-middle" style="color: rgb(73, 73, 73)">Módulo de Inventarios de La Estrella</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#4caf50">| Acerca del Sistema |</h3> <br>
            <p>
                ESTRIN es un software simple de gestión de inventario creado para cumplir con los requisitos de La Estrella.
                El software es capaz de realizar un seguimiento del stock entrante y saliente con una factura generada dinámicamente. 
                Cada operador del Sistema cuenta con un perfil donde pueden ver el historial de sus transacciones con la empresa.
            </p>
        <br>
    </div>
        <h2 style="color:#4caf50" class="align-middle">| Facultades |</h3> <br>
            <ul style="display:table; margin:0 auto; ">                
                <li style="color:#494949;">Gráfico interactivo para mostrar el stock disponible actualmente</li>
                <li style="color:#494949;">Se mantienen detalles del stock, como el stock disponible actual</li>
                <li style="color:#494949;">Las transacciones entrantes se realizan a través de compras</li>
                <li style="color:#494949;">Las transacciones salientes se realizan a través de ventas</li>
                <li style="color:#494949;">Cada transacción realizada a través del software se registra</li>
                <li style="color:#494949;">El Comprobante se genera dinámicamente y se puede imprimir</li>
                <li style="color:#494949;">Se mantienen perfiles separados para los proveedores</li>
            </ul>  
        <br>
    <div class="align-middle">
        <h2 style="color:#4caf50" >| Desarrollo |</h3> <br>
            <p>Rodrigo Choque</p>
            <br><br><br>
    </div>

{% endblock content %}